.dart_tool/
.fvm/
build/

swaggers/
.swaggers/

pubspec.lock
/.env
**/dev_env.json
**/qa_env.json
**/prd_env.json
**/stg_env.json
.idea/
.idea/libraries/

**/.flutter-plugins
**/.flutter-plugins-dependencies
.DS_Store
**/.DS_Store
**~